* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Tahoma, sans-serif;
}

body {
  background: black;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 130px 300px 1fr;
  gap: 10px;
  height: 100vh;
  justify-items: center;
  background: linear-gradient(
    315deg,
    #1f005c,
    #48005f,
    #680060,
    #830060,
    #9c155f,
    #b22c5e,
    #c5415d,
    #d5585c,
    #e36e5c,
    #ef865e,
    #f89d63,
    #ffb56b
  );
  header {
    text-align: center;
    p {
      margin: 10px;
    }
    .error {
      color: white;
      text-shadow: 2px 2px crimson;
      background-color: rgba(165, 146, 36, 0.801);
    }
  }
  form {
    display: grid;
    grid-template-columns: minmax(auto, 900px) 70px;
    grid-template-rows: 1fr 50px;
    gap: 10px;
    margin: 20px;
    textarea,
    input {
      font-size: 18px;
      padding: 5px;
      resize: none;
      background-color: rgba(0, 0, 0, 0.37);
      color: white;
      text-shadow: 3px 2px #363535;
      border-radius: 4px;
      border: solid black 1px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      &::placeholder {
        color: rgba(255, 255, 255, 0.562);
      }
    }
    button {
      cursor: pointer;
      color: #75084b;
      background-color: #f8942f;
      font-weight: bold;
      font-size: 22px;
      border-radius: 5px;
      height: 50px;
      box-shadow: 0 0 30px rgba(58, 3, 53, 0.596);
      text-shadow: 2px 2px #e060af;
      transition: 0.3s;
      &:hover {
        color: black;
        font-size: 24px;
        box-shadow: 0 0 30px rgba(58, 3, 19, 0.986);
      }
      &:active {
        font-size: 20px;
        box-shadow: 0 0 30px rgba(156, 104, 6, 0.986);
      }
    }
  }

  div {
    display: grid;
    grid-template-columns: minmax(300px, 1200px) 150px;
    grid-auto-rows: 1fr;
    overflow: scroll;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.116);
    color: white;
    text-shadow: 3px 2px #363535;
    border-radius: 4px;

    &::-webkit-scrollbar {
      width: 6px;
      height: 0;
      padding: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgb(182, 182, 182);
      border-radius: 10px;
    }
    .contents{
      word-break: break-all;
    }
    section{
      h4, p, ul{
        text-align: center;
        padding: 5px 0;
      }
      li{
        display: inline;
      }
    }

  }
}
