* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 200px 400px 1fr;
}

.Form {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 0.3fr 1fr;
}

.Table{
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: 0.3fr 1fr;
}


